
aiohappyeyeballs==2.4.3
aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.13.3
annotated-types==0.7.0
appdirs==1.4.4
astunparse==1.6.3
attrs==24.2.0
autograd==1.6.2
autoray==0.6.12
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorlog==6.8.2
contourpy==1.3.0
cycler==0.12.1
diastatic-malt==2.15.2
dill==0.3.8
docstring-parser==0.16
filelock==3.16.1
fonttools==4.54.1
frozenlist==1.4.1
fsspec==2024.9.0
gast==0.6.0
gitdb==4.0.11
GitPython==3.1.43
idna==3.10
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.7
Mako==1.3.6
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.7.2
mdurl==0.1.2
meson==1.5.2                # build-dep scipy, tersedia wheel
mpmath==1.3.0
multidict==6.1.0
networkx==3.2.1
numpy==1.24.3
optuna==4.0.0
packaging==24.2
pennylane==0.36.0
pennylane-lightning==0.36.0
pillow==10.4.0
platformdirs==4.3.6
propcache==0.2.0
protobuf==5.28.3
psutil==6.1.0
pydantic==2.10.1
pydantic-core==2.27.1
Pygments==2.18.0
pyparsing==3.2.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
qiskit==0.46.1
qiskit-terra==0.46.1
requests==2.32.3
rich==13.9.4
rustworkx==0.15.1
scikit-learn==1.3.2
scipy==1.10.1
sentry-sdk==2.18.0
setuptools==75.6.0
shtab==1.7.1
six==1.16.0
smmap==5.0.1
SQLAlchemy==2.0.36
stevedore==5.3.0
sympy==1.13.3
termcolor==2.4.0
threadpoolctl==3.5.0
tomlkit==0.13.2
torch==2.3.1
torch-audio==2.3.1
torch-geometric==2.5.3
torch-scatter==2.1.2
torch-sparse==0.6.18
torchvision==0.18.1
tqdm==4.66.6
typeguard==4.4.1
typing-extensions==4.12.2
tyro==0.8.11
urllib3==2.2.3
wandb==0.18.5
wheel==0.45.1
xxhash==3.5.0
yarl==1.17.2
